beautifulsoup4==4.6.0
cycler==0.10.0
dj-database-url==0.4.2
Django==2.2.24
django-suit==0.2.25
gunicorn==19.7.1
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.15.4
olefile==0.44
Pillow==6.2.2
psycopg2==2.7.3
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2017.2
six==1.11.0
whitenoise==3.3.1
